[Unit]
Description=mdhub go-api service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/mdhub
ExecStart=/opt/mdhub/scripts/start-api-prod.sh
Restart=always
RestartSec=3
TimeoutStartSec=30
TimeoutStopSec=20
KillSignal=SIGINT
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
